<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Таблица</title>
  <style type="text/css">
   TABLE {
    width: 300px; /* Ширина таблицы */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого ячеек */
   }
   TH {
    text-align: left; /* Выравнивание по левому краю */
    border-bottom: 1px solid #000; /* Линия снизу */
   }
   .vl {
    border-right: 1px solid #000; /* Линия справа */
   }
  </style>
 </head>
 <body>
  <table cellspacing="0">
   <tr>
    <th class="vl">&nbsp;</th><th>женщины</th><th>мужчины</th><
   </tr>
   <tr>
    <td class="vl">аккумулятор</td><td>{{w1}}</td><td>{{m1}}</td>
   </tr>
   <tr>
    <td class="vl">блок питания</td><td>{{w2}}</td><td>{{m2}}</td>
   </tr>
   <tr>
    <td class="vl">зарядник</td><td>{{w3}}</td><td>{{m3}}</td>
   </tr>
      <tr>
    <td class="vl">пауэрбанк</td><td>{{w4}}</td><td>{{m4}}</td>
   </tr>
   <tr>
    <td class="vl">как-то по-другому</td><td>{{w5}}</td><td>{{m5}}</td>
   </tr>
  </table>
 </body>
</html>